---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.svelte';

const base = import.meta.env.BASE_URL
---

<Layout title="Test Astro Island">
	<main>
		<Card title="Welcome to sevelte component" body='this is body' href={ base + 'about' }></Card>
	</main>
</Layout>

<style>
</style>
